.tagLink {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

    opacity: .8;
    color: #cbd5e1;
}

.tagLink.active {
    opacity: 1;
    color: #ffffff;
}

.tagLink:hover {
    border-bottom: 2px solid #475569;
}